services:
  spark-master:
    image: docker.io/bitnamilegacy/spark:latest
    container_name: spark-master
    cpuset: 48-51
    environment:
      SPARK_MODE: master
      SPARK_RPC_AUTHENTICATION_ENABLED: 'no'
      SPARK_RPC_ENCRYPTION_ENABLED: 'no'
      SPARK_LOCAL_STORAGE_ENCRYPTION_ENABLED: 'no'
      SPARK_SSL_ENABLED: 'no'
      SPARK_USER: spark
      SPARK_DAEMON_MEMORY: 1g
    ports:
    - 8080:8080
    - 7077:7077
    volumes:
    - ./data:/app/data
    networks:
    - spark-network
  fastapi:
    image: iisc-deas-server
    container_name: iisc-deas-server
    environment:
      SPARK_MASTER_HOST: spark-master
      DATASET_PATH: /app/data/combined_final.csv
      DRIVER_MEMORY: 16g
    ports:
    - 8001:8000
    - 4040:4040
    volumes:
    - ./data:/app/data
    - ./logs:/app/logs
    depends_on:
      spark-master:
        condition: service_started
      spark-worker-1:
        condition: service_healthy
      spark-worker-2:
        condition: service_healthy
      spark-worker-3:
        condition: service_healthy
      spark-worker-4:
        condition: service_healthy
      spark-worker-5:
        condition: service_healthy
      spark-worker-6:
        condition: service_healthy
      spark-worker-7:
        condition: service_healthy
      spark-worker-8:
        condition: service_healthy
      spark-worker-9:
        condition: service_healthy
      spark-worker-10:
        condition: service_healthy
      spark-worker-11:
        condition: service_healthy
      spark-worker-12:
        condition: service_healthy
      spark-worker-13:
        condition: service_healthy
      spark-worker-14:
        condition: service_healthy
      spark-worker-15:
        condition: service_healthy
      spark-worker-16:
        condition: service_healthy
    networks:
    - spark-network
  spark-worker-1:
    image: docker.io/bitnamilegacy/spark:latest
    container_name: spark-worker-1
    cpuset: 0,1,2,3
    environment:
      SPARK_MODE: worker
      SPARK_MASTER_URL: spark://spark-master:7077
      SPARK_WORKER_MEMORY: 24G
      SPARK_WORKER_CORES: '4'
      SPARK_RPC_AUTHENTICATION_ENABLED: 'no'
      SPARK_RPC_ENCRYPTION_ENABLED: 'no'
      SPARK_LOCAL_STORAGE_ENCRYPTION_ENABLED: 'no'
      SPARK_SSL_ENABLED: 'no'
      SPARK_USER: spark
      SPARK_DAEMON_MEMORY: 1g
      HOME: /opt/bitnami/spark
    ports:
    - 8081:8081
    volumes:
    - ./data:/app/data
    - ./worker-init.sh:/docker-entrypoint-initdb.d/worker-init.sh
    depends_on:
    - spark-master
    healthcheck:
      test:
      - CMD
      - python
      - -c
      - import requests; requests.get('http://localhost:8081').raise_for_status()
      interval: 10s
      timeout: 5s
      retries: 100
      start_period: 30s
    networks:
    - spark-network
  spark-worker-2:
    image: docker.io/bitnamilegacy/spark:latest
    container_name: spark-worker-2
    cpuset: 4,5,6,7
    environment:
      SPARK_MODE: worker
      SPARK_MASTER_URL: spark://spark-master:7077
      SPARK_WORKER_MEMORY: 24G
      SPARK_WORKER_CORES: '4'
      SPARK_RPC_AUTHENTICATION_ENABLED: 'no'
      SPARK_RPC_ENCRYPTION_ENABLED: 'no'
      SPARK_LOCAL_STORAGE_ENCRYPTION_ENABLED: 'no'
      SPARK_SSL_ENABLED: 'no'
      SPARK_USER: spark
      SPARK_DAEMON_MEMORY: 1g
      HOME: /opt/bitnami/spark
    ports:
    - 8082:8081
    volumes:
    - ./data:/app/data
    - ./worker-init.sh:/docker-entrypoint-initdb.d/worker-init.sh
    depends_on:
    - spark-master
    healthcheck:
      test:
      - CMD
      - python
      - -c
      - import requests; requests.get('http://localhost:8081').raise_for_status()
      interval: 10s
      timeout: 5s
      retries: 100
      start_period: 30s
    networks:
    - spark-network
  spark-worker-3:
    image: docker.io/bitnamilegacy/spark:latest
    container_name: spark-worker-3
    cpuset: 8,9,10,11
    environment:
      SPARK_MODE: worker
      SPARK_MASTER_URL: spark://spark-master:7077
      SPARK_WORKER_MEMORY: 24G
      SPARK_WORKER_CORES: '4'
      SPARK_RPC_AUTHENTICATION_ENABLED: 'no'
      SPARK_RPC_ENCRYPTION_ENABLED: 'no'
      SPARK_LOCAL_STORAGE_ENCRYPTION_ENABLED: 'no'
      SPARK_SSL_ENABLED: 'no'
      SPARK_USER: spark
      SPARK_DAEMON_MEMORY: 1g
      HOME: /opt/bitnami/spark
    ports:
    - 8083:8081
    volumes:
    - ./data:/app/data
    - ./worker-init.sh:/docker-entrypoint-initdb.d/worker-init.sh
    depends_on:
    - spark-master
    healthcheck:
      test:
      - CMD
      - python
      - -c
      - import requests; requests.get('http://localhost:8081').raise_for_status()
      interval: 10s
      timeout: 5s
      retries: 100
      start_period: 30s
    networks:
    - spark-network
  spark-worker-4:
    image: docker.io/bitnamilegacy/spark:latest
    container_name: spark-worker-4
    cpuset: 12,13,14,15
    environment:
      SPARK_MODE: worker
      SPARK_MASTER_URL: spark://spark-master:7077
      SPARK_WORKER_MEMORY: 24G
      SPARK_WORKER_CORES: '4'
      SPARK_RPC_AUTHENTICATION_ENABLED: 'no'
      SPARK_RPC_ENCRYPTION_ENABLED: 'no'
      SPARK_LOCAL_STORAGE_ENCRYPTION_ENABLED: 'no'
      SPARK_SSL_ENABLED: 'no'
      SPARK_USER: spark
      SPARK_DAEMON_MEMORY: 1g
      HOME: /opt/bitnami/spark
    ports:
    - 8084:8081
    volumes:
    - ./data:/app/data
    - ./worker-init.sh:/docker-entrypoint-initdb.d/worker-init.sh
    depends_on:
    - spark-master
    healthcheck:
      test:
      - CMD
      - python
      - -c
      - import requests; requests.get('http://localhost:8081').raise_for_status()
      interval: 10s
      timeout: 5s
      retries: 100
      start_period: 30s
    networks:
    - spark-network
  spark-worker-5:
    image: docker.io/bitnamilegacy/spark:latest
    container_name: spark-worker-5
    cpuset: 16,17,18,19
    environment:
      SPARK_MODE: worker
      SPARK_MASTER_URL: spark://spark-master:7077
      SPARK_WORKER_MEMORY: 24G
      SPARK_WORKER_CORES: '4'
      SPARK_RPC_AUTHENTICATION_ENABLED: 'no'
      SPARK_RPC_ENCRYPTION_ENABLED: 'no'
      SPARK_LOCAL_STORAGE_ENCRYPTION_ENABLED: 'no'
      SPARK_SSL_ENABLED: 'no'
      SPARK_USER: spark
      SPARK_DAEMON_MEMORY: 1g
      HOME: /opt/bitnami/spark
    ports:
    - 8085:8081
    volumes:
    - ./data:/app/data
    - ./worker-init.sh:/docker-entrypoint-initdb.d/worker-init.sh
    depends_on:
    - spark-master
    healthcheck:
      test:
      - CMD
      - python
      - -c
      - import requests; requests.get('http://localhost:8081').raise_for_status()
      interval: 10s
      timeout: 5s
      retries: 100
      start_period: 30s
    networks:
    - spark-network
  spark-worker-6:
    image: docker.io/bitnamilegacy/spark:latest
    container_name: spark-worker-6
    cpuset: 20,21,22,23
    environment:
      SPARK_MODE: worker
      SPARK_MASTER_URL: spark://spark-master:7077
      SPARK_WORKER_MEMORY: 24G
      SPARK_WORKER_CORES: '4'
      SPARK_RPC_AUTHENTICATION_ENABLED: 'no'
      SPARK_RPC_ENCRYPTION_ENABLED: 'no'
      SPARK_LOCAL_STORAGE_ENCRYPTION_ENABLED: 'no'
      SPARK_SSL_ENABLED: 'no'
      SPARK_USER: spark
      SPARK_DAEMON_MEMORY: 1g
      HOME: /opt/bitnami/spark
    ports:
    - 8086:8081
    volumes:
    - ./data:/app/data
    - ./worker-init.sh:/docker-entrypoint-initdb.d/worker-init.sh
    depends_on:
    - spark-master
    healthcheck:
      test:
      - CMD
      - python
      - -c
      - import requests; requests.get('http://localhost:8081').raise_for_status()
      interval: 10s
      timeout: 5s
      retries: 100
      start_period: 30s
    networks:
    - spark-network
  spark-worker-7:
    image: docker.io/bitnamilegacy/spark:latest
    container_name: spark-worker-7
    cpuset: 24,25,26,27
    environment:
      SPARK_MODE: worker
      SPARK_MASTER_URL: spark://spark-master:7077
      SPARK_WORKER_MEMORY: 24G
      SPARK_WORKER_CORES: '4'
      SPARK_RPC_AUTHENTICATION_ENABLED: 'no'
      SPARK_RPC_ENCRYPTION_ENABLED: 'no'
      SPARK_LOCAL_STORAGE_ENCRYPTION_ENABLED: 'no'
      SPARK_SSL_ENABLED: 'no'
      SPARK_USER: spark
      SPARK_DAEMON_MEMORY: 1g
      HOME: /opt/bitnami/spark
    ports:
    - 8087:8081
    volumes:
    - ./data:/app/data
    - ./worker-init.sh:/docker-entrypoint-initdb.d/worker-init.sh
    depends_on:
    - spark-master
    healthcheck:
      test:
      - CMD
      - python
      - -c
      - import requests; requests.get('http://localhost:8081').raise_for_status()
      interval: 10s
      timeout: 5s
      retries: 100
      start_period: 30s
    networks:
    - spark-network
  spark-worker-8:
    image: docker.io/bitnamilegacy/spark:latest
    container_name: spark-worker-8
    cpuset: 28,29,30,31
    environment:
      SPARK_MODE: worker
      SPARK_MASTER_URL: spark://spark-master:7077
      SPARK_WORKER_MEMORY: 24G
      SPARK_WORKER_CORES: '4'
      SPARK_RPC_AUTHENTICATION_ENABLED: 'no'
      SPARK_RPC_ENCRYPTION_ENABLED: 'no'
      SPARK_LOCAL_STORAGE_ENCRYPTION_ENABLED: 'no'
      SPARK_SSL_ENABLED: 'no'
      SPARK_USER: spark
      SPARK_DAEMON_MEMORY: 1g
      HOME: /opt/bitnami/spark
    ports:
    - 8088:8081
    volumes:
    - ./data:/app/data
    - ./worker-init.sh:/docker-entrypoint-initdb.d/worker-init.sh
    depends_on:
    - spark-master
    healthcheck:
      test:
      - CMD
      - python
      - -c
      - import requests; requests.get('http://localhost:8081').raise_for_status()
      interval: 10s
      timeout: 5s
      retries: 100
      start_period: 30s
    networks:
    - spark-network
  spark-worker-9:
    image: docker.io/bitnamilegacy/spark:latest
    container_name: spark-worker-9
    cpuset: 32,33,34,35
    environment:
      SPARK_MODE: worker
      SPARK_MASTER_URL: spark://spark-master:7077
      SPARK_WORKER_MEMORY: 24G
      SPARK_WORKER_CORES: '4'
      SPARK_RPC_AUTHENTICATION_ENABLED: 'no'
      SPARK_RPC_ENCRYPTION_ENABLED: 'no'
      SPARK_LOCAL_STORAGE_ENCRYPTION_ENABLED: 'no'
      SPARK_SSL_ENABLED: 'no'
      SPARK_USER: spark
      SPARK_DAEMON_MEMORY: 1g
      HOME: /opt/bitnami/spark
    ports:
    - 8089:8081
    volumes:
    - ./data:/app/data
    - ./worker-init.sh:/docker-entrypoint-initdb.d/worker-init.sh
    depends_on:
    - spark-master
    healthcheck:
      test:
      - CMD
      - python
      - -c
      - import requests; requests.get('http://localhost:8081').raise_for_status()
      interval: 10s
      timeout: 5s
      retries: 100
      start_period: 30s
    networks:
    - spark-network
  spark-worker-10:
    image: docker.io/bitnamilegacy/spark:latest
    container_name: spark-worker-10
    cpuset: 36,37,38,39
    environment:
      SPARK_MODE: worker
      SPARK_MASTER_URL: spark://spark-master:7077
      SPARK_WORKER_MEMORY: 24G
      SPARK_WORKER_CORES: '4'
      SPARK_RPC_AUTHENTICATION_ENABLED: 'no'
      SPARK_RPC_ENCRYPTION_ENABLED: 'no'
      SPARK_LOCAL_STORAGE_ENCRYPTION_ENABLED: 'no'
      SPARK_SSL_ENABLED: 'no'
      SPARK_USER: spark
      SPARK_DAEMON_MEMORY: 1g
      HOME: /opt/bitnami/spark
    ports:
    - 8090:8081
    volumes:
    - ./data:/app/data
    - ./worker-init.sh:/docker-entrypoint-initdb.d/worker-init.sh
    depends_on:
    - spark-master
    healthcheck:
      test:
      - CMD
      - python
      - -c
      - import requests; requests.get('http://localhost:8081').raise_for_status()
      interval: 10s
      timeout: 5s
      retries: 100
      start_period: 30s
    networks:
    - spark-network
  spark-worker-11:
    image: docker.io/bitnamilegacy/spark:latest
    container_name: spark-worker-11
    cpuset: 40,41,42,43
    environment:
      SPARK_MODE: worker
      SPARK_MASTER_URL: spark://spark-master:7077
      SPARK_WORKER_MEMORY: 24G
      SPARK_WORKER_CORES: '4'
      SPARK_RPC_AUTHENTICATION_ENABLED: 'no'
      SPARK_RPC_ENCRYPTION_ENABLED: 'no'
      SPARK_LOCAL_STORAGE_ENCRYPTION_ENABLED: 'no'
      SPARK_SSL_ENABLED: 'no'
      SPARK_USER: spark
      SPARK_DAEMON_MEMORY: 1g
      HOME: /opt/bitnami/spark
    ports:
    - 8091:8081
    volumes:
    - ./data:/app/data
    - ./worker-init.sh:/docker-entrypoint-initdb.d/worker-init.sh
    depends_on:
    - spark-master
    healthcheck:
      test:
      - CMD
      - python
      - -c
      - import requests; requests.get('http://localhost:8081').raise_for_status()
      interval: 10s
      timeout: 5s
      retries: 100
      start_period: 30s
    networks:
    - spark-network
  spark-worker-12:
    image: docker.io/bitnamilegacy/spark:latest
    container_name: spark-worker-12
    cpuset: 44,45,46,47
    environment:
      SPARK_MODE: worker
      SPARK_MASTER_URL: spark://spark-master:7077
      SPARK_WORKER_MEMORY: 24G
      SPARK_WORKER_CORES: '4'
      SPARK_RPC_AUTHENTICATION_ENABLED: 'no'
      SPARK_RPC_ENCRYPTION_ENABLED: 'no'
      SPARK_LOCAL_STORAGE_ENCRYPTION_ENABLED: 'no'
      SPARK_SSL_ENABLED: 'no'
      SPARK_USER: spark
      SPARK_DAEMON_MEMORY: 1g
      HOME: /opt/bitnami/spark
    ports:
    - 8092:8081
    volumes:
    - ./data:/app/data
    - ./worker-init.sh:/docker-entrypoint-initdb.d/worker-init.sh
    depends_on:
    - spark-master
    healthcheck:
      test:
      - CMD
      - python
      - -c
      - import requests; requests.get('http://localhost:8081').raise_for_status()
      interval: 10s
      timeout: 5s
      retries: 100
      start_period: 30s
    networks:
    - spark-network
  spark-worker-13:
    image: docker.io/bitnamilegacy/spark:latest
    container_name: spark-worker-13
    cpuset: 48,49,50,51
    environment:
      SPARK_MODE: worker
      SPARK_MASTER_URL: spark://spark-master:7077
      SPARK_WORKER_MEMORY: 24G
      SPARK_WORKER_CORES: '4'
      SPARK_RPC_AUTHENTICATION_ENABLED: 'no'
      SPARK_RPC_ENCRYPTION_ENABLED: 'no'
      SPARK_LOCAL_STORAGE_ENCRYPTION_ENABLED: 'no'
      SPARK_SSL_ENABLED: 'no'
      SPARK_USER: spark
      SPARK_DAEMON_MEMORY: 1g
      HOME: /opt/bitnami/spark
    ports:
    - 8093:8081
    volumes:
    - ./data:/app/data
    - ./worker-init.sh:/docker-entrypoint-initdb.d/worker-init.sh
    depends_on:
    - spark-master
    healthcheck:
      test:
      - CMD
      - python
      - -c
      - import requests; requests.get('http://localhost:8081').raise_for_status()
      interval: 10s
      timeout: 5s
      retries: 100
      start_period: 30s
    networks:
    - spark-network
  spark-worker-14:
    image: docker.io/bitnamilegacy/spark:latest
    container_name: spark-worker-14
    cpuset: 52,53,54,55
    environment:
      SPARK_MODE: worker
      SPARK_MASTER_URL: spark://spark-master:7077
      SPARK_WORKER_MEMORY: 24G
      SPARK_WORKER_CORES: '4'
      SPARK_RPC_AUTHENTICATION_ENABLED: 'no'
      SPARK_RPC_ENCRYPTION_ENABLED: 'no'
      SPARK_LOCAL_STORAGE_ENCRYPTION_ENABLED: 'no'
      SPARK_SSL_ENABLED: 'no'
      SPARK_USER: spark
      SPARK_DAEMON_MEMORY: 1g
      HOME: /opt/bitnami/spark
    ports:
    - 8094:8081
    volumes:
    - ./data:/app/data
    - ./worker-init.sh:/docker-entrypoint-initdb.d/worker-init.sh
    depends_on:
    - spark-master
    healthcheck:
      test:
      - CMD
      - python
      - -c
      - import requests; requests.get('http://localhost:8081').raise_for_status()
      interval: 10s
      timeout: 5s
      retries: 100
      start_period: 30s
    networks:
    - spark-network
  spark-worker-15:
    image: docker.io/bitnamilegacy/spark:latest
    container_name: spark-worker-15
    cpuset: 56,57,58,59
    environment:
      SPARK_MODE: worker
      SPARK_MASTER_URL: spark://spark-master:7077
      SPARK_WORKER_MEMORY: 24G
      SPARK_WORKER_CORES: '4'
      SPARK_RPC_AUTHENTICATION_ENABLED: 'no'
      SPARK_RPC_ENCRYPTION_ENABLED: 'no'
      SPARK_LOCAL_STORAGE_ENCRYPTION_ENABLED: 'no'
      SPARK_SSL_ENABLED: 'no'
      SPARK_USER: spark
      SPARK_DAEMON_MEMORY: 1g
      HOME: /opt/bitnami/spark
    ports:
    - 8095:8081
    volumes:
    - ./data:/app/data
    - ./worker-init.sh:/docker-entrypoint-initdb.d/worker-init.sh
    depends_on:
    - spark-master
    healthcheck:
      test:
      - CMD
      - python
      - -c
      - import requests; requests.get('http://localhost:8081').raise_for_status()
      interval: 10s
      timeout: 5s
      retries: 100
      start_period: 30s
    networks:
    - spark-network
  spark-worker-16:
    image: docker.io/bitnamilegacy/spark:latest
    container_name: spark-worker-16
    cpuset: 60,61,62,63
    environment:
      SPARK_MODE: worker
      SPARK_MASTER_URL: spark://spark-master:7077
      SPARK_WORKER_MEMORY: 24G
      SPARK_WORKER_CORES: '4'
      SPARK_RPC_AUTHENTICATION_ENABLED: 'no'
      SPARK_RPC_ENCRYPTION_ENABLED: 'no'
      SPARK_LOCAL_STORAGE_ENCRYPTION_ENABLED: 'no'
      SPARK_SSL_ENABLED: 'no'
      SPARK_USER: spark
      SPARK_DAEMON_MEMORY: 1g
      HOME: /opt/bitnami/spark
    ports:
    - 8096:8081
    volumes:
    - ./data:/app/data
    - ./worker-init.sh:/docker-entrypoint-initdb.d/worker-init.sh
    depends_on:
    - spark-master
    healthcheck:
      test:
      - CMD
      - python
      - -c
      - import requests; requests.get('http://localhost:8081').raise_for_status()
      interval: 10s
      timeout: 5s
      retries: 100
      start_period: 30s
    networks:
    - spark-network
networks:
  spark-network:
    driver: bridge
