services:
  spark-master:
    image: docker.io/bitnamilegacy/spark:latest
    container_name: spark-master
    cpuset: 48-51
    environment:
      SPARK_MODE: master
      SPARK_RPC_AUTHENTICATION_ENABLED: 'no'
      SPARK_RPC_ENCRYPTION_ENABLED: 'no'
      SPARK_LOCAL_STORAGE_ENCRYPTION_ENABLED: 'no'
      SPARK_SSL_ENABLED: 'no'
      SPARK_USER: spark
      SPARK_DAEMON_MEMORY: 1g
    ports:
    - 8080:8080
    - 7077:7077
    volumes:
    - ./data:/app/data
    networks:
    - spark-network
  fastapi:
    image: iisc-deas-server
    container_name: iisc-deas-server
    environment:
      SPARK_MASTER_HOST: spark-master
      DATASET_PATH: /app/data/combined_final.csv
      DRIVER_MEMORY: 16g
    ports:
    - 8001:8000
    - 4040:4040
    volumes:
    - ./data:/app/data
    - ./logs:/app/logs
    depends_on:
      spark-master:
        condition: service_started
      spark-worker-1:
        condition: service_healthy
      spark-worker-2:
        condition: service_healthy
      spark-worker-3:
        condition: service_healthy
      spark-worker-4:
        condition: service_healthy
    networks:
    - spark-network
  spark-worker-1:
    image: docker.io/bitnamilegacy/spark:latest
    container_name: spark-worker-1
    cpuset: 0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25,26,27,28,29,30,31
    environment:
      SPARK_MODE: worker
      SPARK_MASTER_URL: spark://spark-master:7077
      SPARK_WORKER_MEMORY: 30G
      SPARK_WORKER_CORES: '32'
      SPARK_RPC_AUTHENTICATION_ENABLED: 'no'
      SPARK_RPC_ENCRYPTION_ENABLED: 'no'
      SPARK_LOCAL_STORAGE_ENCRYPTION_ENABLED: 'no'
      SPARK_SSL_ENABLED: 'no'
      SPARK_USER: spark
      SPARK_DAEMON_MEMORY: 1g
      HOME: /opt/bitnami/spark
    ports:
    - 8081:8081
    volumes:
    - ./data:/app/data
    - ./worker-init.sh:/docker-entrypoint-initdb.d/worker-init.sh
    depends_on:
    - spark-master
    healthcheck:
      test:
      - CMD
      - python
      - -c
      - import requests; requests.get('http://localhost:8081').raise_for_status()
      interval: 10s
      timeout: 5s
      retries: 100
      start_period: 30s
    networks:
    - spark-network
  spark-worker-2:
    image: docker.io/bitnamilegacy/spark:latest
    container_name: spark-worker-2
    cpuset: 32,33,34,35,36,37,38,39,40,41,42,43,44,45,46,47,48,49,50,51,52,53,54,55,56,57,58,59,60,61,62,63
    environment:
      SPARK_MODE: worker
      SPARK_MASTER_URL: spark://spark-master:7077
      SPARK_WORKER_MEMORY: 30G
      SPARK_WORKER_CORES: '32'
      SPARK_RPC_AUTHENTICATION_ENABLED: 'no'
      SPARK_RPC_ENCRYPTION_ENABLED: 'no'
      SPARK_LOCAL_STORAGE_ENCRYPTION_ENABLED: 'no'
      SPARK_SSL_ENABLED: 'no'
      SPARK_USER: spark
      SPARK_DAEMON_MEMORY: 1g
      HOME: /opt/bitnami/spark
    ports:
    - 8082:8081
    volumes:
    - ./data:/app/data
    - ./worker-init.sh:/docker-entrypoint-initdb.d/worker-init.sh
    depends_on:
    - spark-master
    healthcheck:
      test:
      - CMD
      - python
      - -c
      - import requests; requests.get('http://localhost:8081').raise_for_status()
      interval: 10s
      timeout: 5s
      retries: 100
      start_period: 30s
    networks:
    - spark-network
  spark-worker-3:
    image: docker.io/bitnamilegacy/spark:latest
    container_name: spark-worker-3
    cpuset: 64,65,66,67,68,69,70,71,72,73,74,75,76,77,78,79,80,81,82,83,84,85,86,87,88,89,90,91,92,93,94,95
    environment:
      SPARK_MODE: worker
      SPARK_MASTER_URL: spark://spark-master:7077
      SPARK_WORKER_MEMORY: 30G
      SPARK_WORKER_CORES: '32'
      SPARK_RPC_AUTHENTICATION_ENABLED: 'no'
      SPARK_RPC_ENCRYPTION_ENABLED: 'no'
      SPARK_LOCAL_STORAGE_ENCRYPTION_ENABLED: 'no'
      SPARK_SSL_ENABLED: 'no'
      SPARK_USER: spark
      SPARK_DAEMON_MEMORY: 1g
      HOME: /opt/bitnami/spark
    ports:
    - 8083:8081
    volumes:
    - ./data:/app/data
    - ./worker-init.sh:/docker-entrypoint-initdb.d/worker-init.sh
    depends_on:
    - spark-master
    healthcheck:
      test:
      - CMD
      - python
      - -c
      - import requests; requests.get('http://localhost:8081').raise_for_status()
      interval: 10s
      timeout: 5s
      retries: 100
      start_period: 30s
    networks:
    - spark-network
  spark-worker-4:
    image: docker.io/bitnamilegacy/spark:latest
    container_name: spark-worker-4
    cpuset: 96,97,98,99,100,101,102,103,104,105,106,107,108,109,110,111,112,113,114,115,116,117,118,119,120,121,122,123,124,125,126,127
    environment:
      SPARK_MODE: worker
      SPARK_MASTER_URL: spark://spark-master:7077
      SPARK_WORKER_MEMORY: 30G
      SPARK_WORKER_CORES: '32'
      SPARK_RPC_AUTHENTICATION_ENABLED: 'no'
      SPARK_RPC_ENCRYPTION_ENABLED: 'no'
      SPARK_LOCAL_STORAGE_ENCRYPTION_ENABLED: 'no'
      SPARK_SSL_ENABLED: 'no'
      SPARK_USER: spark
      SPARK_DAEMON_MEMORY: 1g
      HOME: /opt/bitnami/spark
    ports:
    - 8084:8081
    volumes:
    - ./data:/app/data
    - ./worker-init.sh:/docker-entrypoint-initdb.d/worker-init.sh
    depends_on:
    - spark-master
    healthcheck:
      test:
      - CMD
      - python
      - -c
      - import requests; requests.get('http://localhost:8081').raise_for_status()
      interval: 10s
      timeout: 5s
      retries: 100
      start_period: 30s
    networks:
    - spark-network
networks:
  spark-network:
    driver: bridge
