services:
  spark-master:
    image: docker.io/bitnamilegacy/spark:latest
    container_name: spark-master
    environment:
      SPARK_MODE: master
      SPARK_RPC_AUTHENTICATION_ENABLED: 'no'
      SPARK_RPC_ENCRYPTION_ENABLED: 'no'
      SPARK_LOCAL_STORAGE_ENCRYPTION_ENABLED: 'no'
      SPARK_SSL_ENABLED: 'no'
      SPARK_USER: spark
      SPARK_DAEMON_MEMORY: 1g
    ports:
    - 8080:8080
    - 7077:7077
    volumes:
    - ./data:/app/data
    networks:
    - spark-network
  fastapi:
    image: iisc-deas-server
    container_name: iisc-deas-server
    environment:
      SPARK_MASTER_HOST: spark-master
      DATASET_PATH: /app/data/train.csv
      DRIVER_MEMORY: 16g
      http_proxy: http://proxy-dmz.intel.com:912
      https_proxy: http://proxy-dmz.intel.com:912
      no_proxy: localhost,spark-master,spark-worker-1,spark-worker-2
    ports:
    - 8000:8000
    - 4040:4040
    volumes:
    - ./data:/app/data
    - ./logs:/app/logs
    depends_on:
    - spark-master
    networks:
    - spark-network
  spark-worker-1:
    image: docker.io/bitnamilegacy/spark:latest
    container_name: spark-worker-1
    cpuset: 0,1,2,3
    environment:
      SPARK_MODE: worker
      SPARK_MASTER_URL: spark://spark-master:7077
      SPARK_WORKER_MEMORY: 60G
      SPARK_WORKER_CORES: '2'
      SPARK_RPC_AUTHENTICATION_ENABLED: 'no'
      SPARK_RPC_ENCRYPTION_ENABLED: 'no'
      SPARK_LOCAL_STORAGE_ENCRYPTION_ENABLED: 'no'
      SPARK_SSL_ENABLED: 'no'
      SPARK_USER: spark
      SPARK_DAEMON_MEMORY: 1g
    ports:
    - 8081:8081
    volumes:
    - ./data:/app/data
    depends_on:
    - spark-master
    networks:
    - spark-network
  spark-worker-2:
    image: docker.io/bitnamilegacy/spark:latest
    container_name: spark-worker-2
    cpuset: 4,5,6,7
    environment:
      SPARK_MODE: worker
      SPARK_MASTER_URL: spark://spark-master:7077
      SPARK_WORKER_MEMORY: 60G
      SPARK_WORKER_CORES: '2'
      SPARK_RPC_AUTHENTICATION_ENABLED: 'no'
      SPARK_RPC_ENCRYPTION_ENABLED: 'no'
      SPARK_LOCAL_STORAGE_ENCRYPTION_ENABLED: 'no'
      SPARK_SSL_ENABLED: 'no'
      SPARK_USER: spark
      SPARK_DAEMON_MEMORY: 1g
    ports:
    - 8082:8081
    volumes:
    - ./data:/app/data
    depends_on:
    - spark-master
    networks:
    - spark-network
networks:
  spark-network:
    driver: bridge
